<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onSideNavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class=""><a class="" routerLink="/">NG Fitness</a></div>
  <div class="" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="navigation-items" fxLayout fxLayoutGap="20px">
      <li><a class="" routerLink="/signup" *ngIf="!(isAuth$ | async)">Sign Up</a></li>
      <li><a class="" routerLink="/login" *ngIf="!(isAuth$ | async)">Log In</a></li>
      <li><a class="" routerLink="/training" *ngIf="(isAuth$ | async)">Training</a></li>
      <li><a class="" *ngIf="(isAuth$ | async)" (click)="onLogout()" style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
