<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onSideNavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class=""><a class="" routerLink="/">LOGO</a></div>
  <div class="" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="navigation-items" fxLayout fxLayoutGap="20px">
      <li><a class="" routerLink="/signup">Sign Up</a></li>
      <li><a class="" routerLink="/login">Log In</a></li>
      <li><a class="" routerLink="/training">Training</a></li>
      <li><a class="" >Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
