/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'assets/scss/themes/my-theme';

html, body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  // SideNav to work
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  &:hover,
  &:active {
    cursor: pointer;
    color: lightgray;
  }
}
